<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IJPay让支付触手可及</title>
    <style>
        body {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        #welcome {
            top: 20%;
            left: 35%;
            text-align: center;
            position: absolute;
        }
    </style>
</head>
<body>
<div id="welcome">
    <h1>欢迎使用IJPay -By Javen</h1>
    <span>https://github.com/Javen205/IJPay</span>
    <div style="text-align: center; padding: 10px">
        <a style="text-decoration: none;" href="https://github.com/Javen205/IJPay" target="_bank">
            <strong>IJPay让支付触手可及,欢迎Start支持项目发展:)</strong>
        </a>
    </div>
    <div style="text-align: center; padding: 4px">
        如果对你有帮助,请任意打赏
    </div>
    <img width="180px" height="180px"
         src="https://oscimg.oschina.net/oscnet/8e86fed2ee9571eb133096d5dc1b3cb2fc1.jpg">
    <!--<img width="180px" height="180px"
         src="https://javen205.gitbooks.io/ijpay/content/assets/wxpay.png">
    <img width="180px" height="200px"-->
         <!--src="https://javen205.gitbooks.io/ijpay/content/assets/GitChatQ.png">-->
</div>
</body>
</html>